<div class="container mt-3">
    <div class="table-responsive-md" *ngIf="categorias.length>0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let categoria of categorias; index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{categoria.nombre}}</td>
                    <td>{{categoria.descripcion}}</td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>